*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* style the body element */
body {
    background-color: #f5eeee;
    
}
/* style the header of the page */
header {
   padding: 20px 30px;
   background-color: #640b0b;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   position: fixed;
   top: 0;
  width: 100%;
  z-index: 9999;
   
   
 }
 /* apply style to header h1*/
 header h1 {
   font-weight: bold;
   font-size: 36px;
   padding: 12px;
   background-color: #080808;
   color: #f7f2f2;
   border-top-right-radius: 25px;
   border-bottom-left-radius: 25px;
   font-family: Geneva, sans-serif;
   border: 2px solid #f5eeee;
 }
 header h1::first-letter {
   color: #eee01a;
 }
 /* apply style to the header link */
 header a {
   color: #f5eeee;
 }
 /* apply style to the header nav */
 header nav {
   margin: 7px 20px;
 }

 /* apply style to the header nav ul li */
 header nav ul{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   list-style: none;
 }
 /* style the nav ul li link(a) */
 header nav ul li a{
   margin: 0 30px;
   font-weight: lighter;
   font-size: 25px;
   color: #f7fcfc;
   text-decoration: none;
 }
 header nav ul li a:hover {
   color: #000;
   background-color: #f5eeee;
   padding: 8px 12px;
   border-radius: 15px;
   border: 2px solid #080808;
 }
 main {
   padding: 20px;
   margin: 100px auto;
 } 
 
 .about {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

 }
 .about h1 {
   font-size: 40px;
   padding: 12px;
 }
 .about h2 {
   font-size: 35px;
   color: #640b0b;
   border-bottom: 5px solid #080808;
   padding: 10px;
 }
 .about p{
   margin: 8px auto;
   font-size: 22px;
 }
 .about img {
   width: 450px;
   margin: 15px 35px;
 }
 .title {
   width: 100%;
   padding: 15px;
   text-align: center;
 }
 .article-info {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex: 0 80%;
   margin: 15px auto;
 }
 .hits {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   margin: 20px;
 }
 .hits h2 {
   font-size: 35px;
   margin: 0 0 15px;
 }
 h2 i {
   font-size: 65px;
   color: #640b0b;
 }
 .hits-item {
   flex-direction: row;
   flex: 0 15%;
   padding: 20px;
   border: 1px solid #080808;
   background: #0a0a0a;
   color: #f7fcfc;
   transform: rotate(20deg);
   margin: 50px 0 50px 0;
   border: 5px solid #eee01a;
   text-align: center;
 }
 .hits-item ul li {
   list-style: none;
 }
 .link{
   padding: 8px 12px;
   background-color: #640b0b;
   text-decoration: none;
   border-radius: 20px;
   font-size: 30px;
   color: #f7f2f2;
 }
 .link:hover {
   opacity: 0.8;
   background-color: rgb(8, 102, 66);
 }
 .favorite{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   
 }
 .favorite h2 {
   font-size: 28px;
 }
 .favorite-item {
   margin: 20px 25px;
   
 }
 .favorite-item h3 {
   font-size: 25px;
   padding: 12px;
   text-align: center;
 }
 footer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   background: #0a0a0a;
   color: #f7f2f2;
   padding: 40px;
 }
footer p {
  display: block;
}
 